@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto");
header{
	padding: 10px 30px;
	background: #fff;
	margin: 0;
} 
body{
	background-image: url('Landing Page Assets/background2.png');
	background-position: right;
	background-repeat: no-repeat;
	background-color: #1dabdd;
	margin: 0;
	color:#fff;
	font-size: 20px;
	font-family:'Open Sans','sans-serif','Roboto';
}
footer{
	width:100%;
	padding:20px;
	text-align: center;
	position: fixed;
	bottom: 0;
	color:#fff;
	background-color: #0d7dbd;
	font-size: 16px;
}
section ul{
	padding:10px;
}
section ul li{
    list-style: none;
    line-height: 4;
    padding-left: 30px;   
}
.button{
    padding: 8px 35px;
    border-radius: 30px;
    background-color: #1a91da;
    border-width: 0px #fff;
    color:#fff;
    border:1.5px solid #fff;
    font-family:'Open Sans','sans-serif','Roboto';
	margin-left: 50px;
	font-size: 16px;
}
section ul li img{
	margin-right: 20px;
	vertical-align: baseline;
	width:30px;
	height:25px;
}
h1, h3	{
	margin-left: 50px;
	font-weight: lighter;
}
h3{
	font-weight: bold;
}
h1{
	margin-right: 75%;
}
footer a{
	text-decoration: none;
	padding: 5px 6px;
	color: #fff;
}
